h2 {
    font-family: cursive;
    color:black;
}

h4 {
    font-family: sans-serif;
    Color:black;
}
body {
    background-image: url("assets/images/criss-cross.png");
    background-color: #cccccc;
   }

   header {
       background-color: #ffffff;
   }
   footer {       background-color:#666666;
   }

   .jumbotron{
    background-color:beige;

   }
   .message {
       Height:200px; width:600px;
       }

 .container {
     background-color: black;       
     padding:2px;
    }

    .navbar-brand {
        padding: 25px;
        background-color: rgb(79, 232, 243);
        color: #cccccc;

    }
